/* elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    border-radius: 0;
}

html {
    width: 100%;
}

body {
    background: url("../images/backdrop.svg") fixed;
    background-size: 100%;
    
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: row wrap;

    z-index: 0;
}

header {
    background: #00000090;
    width: 100%;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 99;

    backdrop-filter: blur(0.15vw);
}

main {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

footer {
    background: #000;
    
    width: 100%;
    height: 15vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
}

h1, h2, h3, h4, h5, h6, p {
    font: inherit;
    font-size: 100%;
}

a {
    cursor: pointer;
    background: transparent;

    font-family: Adlam;
    font-size: 1.5vw;

    text-decoration: none;
}

button {
    cursor: pointer;
    background: #000;
    border: 0;
}

/* header content */

.logo {
    height: 6vw;
    width: auto;

    margin: 1.5vw;
}

.home {
    margin: 1.5vw;

    transition: all 0.3s ease;
}

.home:hover {
    font-size: 2vw;

    transition: all 0.3s ease;
}

.about {
    margin: 1.5vw;

    transition: all 0.3s ease;
}

.about:hover {
    cursor: pointer;
    font-size: 2vw;

    transition: all 0.3s ease;
}

.projects {
    margin: 1.5vw;

    transition: all 0.3s ease;
}

.projects:hover {
    cursor: pointer;
    font-size: 2vw;

    transition: all 0.3s ease;
}

/* home page */

.name {
    font-family: Consolas;
    font-size: 2.5vw;
    
    align-self: center;

    margin-top: 2vw;
}

.me {
    height: 50vh;
    
    align-self: flex-end;

    margin-right: 10vw;
}

.intro-cont {
    width: 26vw;
    margin: 0 0 2vw 10vw;
}

.intro {
    font-family: Consolas;
    font-size: 1.4vw;
}

.intro-text {
    margin-left: 3vw;
    text-wrap: wrap;
    max-width: 20vw;

    font-family: Consolas;
    font-size: 1.4vw;
}

/* footer content */

.contact {
    font-family: Adlam;
    font-size: 2.5vw;

    margin-left: 5vw;
}

.socials-cont {
    width: 15vw;
    height: 7.5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-right: 5vw;
}

.youtube {
    height: 7.7vh;
}

.instagram {
    height: 4.8vh;
}

.discord {
    height: 7vh;
}

.github {
    height: 5.5vh;
}

/* Colors */

.open, .close, .slash {
    color: #cccccc;
}

.element {
    color: #448cc2;
}

.class {
    color: #62b2e9;
}

.variable {
    color: #a66c3d;
}

/* BackGround */

.bg {
    background: #000;
    padding: 1vh 1vw;
}

.bg-text {
    background: #000;
    padding: 0.5vh 0.5vw;
}

/* Hidden */
.hidden {
    visibility: hidden;
}

/* underline */

.underline {
    text-decoration: underline;
}

/* Fonts */

@font-face {
    font-family: Consolas;
    src: url(../fonts/Consolas.ttf);
}

@font-face {
    font-family: Adlam;
    src: url(../fonts/ADLaMDisplay-Regular.ttf);
}

/* modal */

.modal {
    display: none;
    
    padding-top: 10vw;

    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vw;
    overflow: auto;
    background: #00000071;

    font-family: Consolas;
    font-size: 2vw;

    border-radius: 0;
}

.modal-content {
    width: 60vw;

    padding: 0;
    margin: auto;

    position: relative;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background: #fbfbfb65;
    border-radius: 0;
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
.modal-header {
    height: 4vw;
    background: #fbfbfb65;
    border-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-body {
    height: 10vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* responsiveness */

@media only screen and (max-width: 900px) {
    .logo {
        display: none
    }

    .socials-cont {
        visibility: hidden;
    }
}

:root {
    color-scheme: dark;
}